{% extends "auth_app/base.html" %}

{% block title %}
  Password Reset Done
{% endblock title %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="w-75 mx-auto my-5 p-3 container-fluid bg-white d-flex flex-column justify-content-around" style="height: 40vh;">
    <h2 class="fw-normal">Password Reset Done</h2>
    <hr>
    <form action="" method="post" class="d-flex flex-column justify-content-around h-75">
      {% csrf_token %}
      {{form | crispy}}
      <button type="submit" class="btn btn-outline-primary align-self-start">Done</button>
    </form>
  </div>
{% endblock content %}
