{% extends "base.html" %}
{% load humanize %}
{% block title %}
  Details
{% endblock title %}

{% block content %}
  {% load crispy_forms_tags %}
  <h2 class="m-5">Details Page</h2>
  <div class="w-50 mx-auto my-3 container-fluid d-flex">
    <div class="card">
      <img src={{post.image.url}} class="card-img-top" alt="{{post.title}} icon">
      <div class="card-body">
        <h3 class="card-title fw-bold">{{post.title}}</h3>
        <hr>

        <div class="d-flex justify-content-between">
          <p>
            <i class="far fa-comment-alt"></i>
            <span>{{post.comments}}</span>
            <i class="fas fa-eye"></i>
            <span>{{post.views}}</span>
            <i class="far fa-heart"></i>
            <span>{{post.likes}}</span>
          </p>
          <p class="">Posted {{post.publish_date | naturaltime}}.</p>
        </div>
        <hr>

        <p class="card-text">{{post.content}}</p>
        <br>

        <p class="text-secondary h4">Enjoy this post? Give it a LIKE!!!</p>
        <form action="" method="post">
          {% csrf_token %}
          {% if post.user_like_check %}
            <button type="submit" name="like" value="like"><i class="fas fa-heart"></i></button>
          {% else %}
            <button type="submit" name="dislike" value="dislike"><i class="far fa-heart"></i></button>
          {% endif %}
        </form>
        <hr>

        {% if user.is_authenticated %}
          <p class="text-secondary h4">Leave a comment below</p>
          <form action="" method="post">
            {% csrf_token %}
            {{post.comment_form | crispy}}
            <button type="submit" name="comment" value="comment" class="mt-3 btn btn-secondary">SEND</button>
          </form>
          <hr>

          <p class="text-secondary h4">Comments</p>
          {% if post.comment_list %}
            {% for comment in post.comment_list %}
              <p><span class="fw-bold">Comment by {{post.user.username}}</span> - <span>{{comment.time_stamp | naturaltime}}.</span></p>
              {{comment.content}}
              <hr>
            {% endfor %}
          {% else %}
            <hr>
          {% endif %}

          {% if user == post.user %}
            <a href={% url 'update' post.slug %} class="btn btn-info text-white my-3">Edit</a>
            <a href={% url 'delete' post.slug %} class="btn btn-danger text-white my-3">Delete</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
